body {

}

.alert-info {
    background-color: #9ad7ff;
    border: 1px solid gray;
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

.alert-info a {
    text-decoration: none;
    color: black;
}

.alert-info a:link {
    padding: 1em 5.26em;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

nav>.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

nav>.nav-links>li {
    background-color: lightgray;
    margin: .5em;
    padding: 1em;
    text-align: center;
}

/*TODO: Start on picture*/

.header-img img{
    width: 100%;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */ }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }